<style>
  .head{
  background: url(./assets/background.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }
</style>
<div class="head grid">
<div id="showcase" >
        <div id="text">
              <h1>SAFE PLACE FOR ALL YOUR DATA </h1>
        </div>
    <div id="buttons">
      <a class="btn btn-success" [routerLink]="['/register']">Register</a>
      <span></span>
      <a class="btn btn-info" [routerLink]="['/login']">Login</a>
    </div>
</div>
</div>

    <div id="features" class="grid">
          <div class="card">
               <h1>Data Storage</h1>
               <div class="card-box">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, odio.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ea
                  maxime natus eligendi, consequuntur harum reiciendis expedita? Suscipit i
                  psum minima animi quod aperiam? Voluptatum fugit facere expedita aspernatur
                  reprehenderit, voluptatibus obcaecati, dicta illo veniam quis reiciendis aliquid
                  perspiciatis, aliquam nostrum!
               </div>
            </div>
               <div class="card">
                <h1>Data Protection</h1>
                <div class="card-box">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, odio.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ea
                    maxime natus eligendi, consequuntur harum reiciendis expedita? Suscipit i
                    psum minima animi quod aperiam? Voluptatum fugit facere expedita aspernatur
                    reprehenderit, voluptatibus obcaecati, dicta illo veniam quis reiciendis aliquid
                    perspiciatis, aliquam nostrum!
                </div>
           </div>

           <div class="card">
            <h1>Data Encryption</h1>

            <div class="card-box">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, odio.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ea
                maxime natus eligendi, consequuntur harum reiciendis expedita? Suscipit i
                psum minima animi quod aperiam? Voluptatum fugit facere expedita aspernatur
                reprehenderit, voluptatibus obcaecati, dicta illo veniam quis reiciendis aliquid
                perspiciatis, aliquam nostrum!
            </div>
       </div>
       </div>

 <div id="demos" class="grid">
      <div class="card1 grid">
        <div>
        <img src="../../../assets/images/image3.jpeg" alt="product"  class="imagebox">
      </div>
        <div class="card1-box">
            <h2>We Offres you</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Optio nesciunt qui inventore sunt! Dolore quia, deleniti ipsam,
            laudantium ut provident expedita asperiores incidunt assumenda
            error quas et illum, eius quod vitae eaque nobis aspernatur. Ipsam
            repellat obcaecati enim quibusdam deserunt repudiandae cum neque,
            ipsum fuga autem suscipit ipsa repellendus quisquam?</p>
        </div>
     </div>

      <div class="card1 grid">
        <div><img src="../../../assets/images/image5.jpeg" alt="product"  class="imagebox"></div>
        <div class="card1-box">
            <h2>We Offres you</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Optio nesciunt qui inventore sunt! Dolore quia, deleniti ipsam,
          laudantium ut provident expedita asperiores incidunt assumenda
          error quas et illum, eius quod vitae eaque nobis aspernatur. Ipsam
          repellat obcaecati enim quibusdam deserunt repudiandae cum neque,
          ipsum fuga autem suscipit ipsa repellendus quisquam?</p>
        </div>
     </div>


      <div class="card1 grid">
        <div><img src="../../../assets/images/image1.jpeg" alt="product"  class="imagebox"></div>
        <div class="card1-box">
          <h2>We Offres you</h2>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Optio nesciunt qui inventore sunt! Dolore quia, deleniti ipsam,
            laudantium ut provident expedita asperiores incidunt assumenda
            error quas et illum, eius quod vitae eaque nobis aspernatur. Ipsam
            repellat obcaecati enim quibusdam deserunt repudiandae cum neque,
            ipsum fuga autem suscipit ipsa repellendus quisquam?
        </div>
     </div>

</div>

